In [2]:
import pandas as pd
import numpy as np
import requests
import matplotlib as mpt
from datetime import datetime

In [3]:
from ggplot import *

c:\users\manje_000\appdata\local\programs\python\python36-32\lib\site-packages\ggplot\utils.py:81: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access Timestamp as pandas.Timestamp
  pd.tslib.Timestamp,
c:\users\manje_000\appdata\local\programs\python\python36-32\lib\site-packages\ggplot\stats\smoothers.py:4: FutureWarning: The pandas.lib module is deprecated and will be removed in a future version. These are private functions and can be accessed from pandas._libs.lib instead
  from pandas.lib import Timestamp
c:\users\manje_000\appdata\local\programs\python\python36-32\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [4]:
wd_dt = pd.read_csv("201402_weather_data.csv")
trip_dt = pd.read_csv("201402_trip_data.csv")

In [5]:
trip_dt.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,Zip Code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [6]:
wd_dt.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Cloud_Cover,Events,Wind_Dir_Degrees,zip
0,8/29/2013,74,68,61,61,58,56,93,75,57,...,10,10,23,11,28.0,0,4,NaN,286,94107
1,8/30/2013,78,69,60,61,58,56,90,70,50,...,10,7,29,13,35.0,0,2,NaN,291,94107
2,8/31/2013,71,64,57,57,56,54,93,75,57,...,10,10,26,15,31.0,0,4,NaN,284,94107
3,9/1/2013,74,66,58,60,56,53,87,68,49,...,10,10,25,13,29.0,0,4,NaN,284,94107
4,9/2/2013,75,69,62,61,60,58,93,77,61,...,10,6,23,12,30.0,0,6,NaN,277,94107

In [7]:
trip_dt['Start Date'] = pd.to_datetime(trip_dt['Start Date'])

In [8]:
d = (datelst[0])

NameError: name 'datelst' is not defined

In [9]:
def dateConvert(date):
    try: 
        return(datetime.strptime(date, '%m/%d/%Y %H:%M')) 
    except: 
        return(datetime.strptime(date,'%d/%m/%Y %H:%M'))

In [10]:
datelst = []
for date in trip_dt['Start Date']:
    datelst.append(dateConvert(date))

TypeError: strptime() argument 1 must be str, not Timestamp

In [11]:
datetime.strptime('8/29/2013 14:13','%m/%d/%Y %H:%M')

datetime.datetime(2013, 8, 29, 14, 13)

In [ ]:
trip_dt['Start Date'] = trip_dt['Start Date'].apply(lambda x: dateConvert(x)).apply(lambda x: datetime.strftime(x, '%d/%m/%Y'))

In [12]:
trip_dt.head()

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscription Type,Zip Code
0,4576,63,2013-08-29 14:13:00,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,2013-08-29 14:42:00,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,2013-08-29 10:16:00,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,2013-08-29 11:29:00,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,2013-08-29 12:02:00,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

In [13]:
wd_dt['Date'] = pd.to_datetime(wd_dt['Date'])

In [14]:
wd_dt.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Cloud_Cover,Events,Wind_Dir_Degrees,zip
0,2013-08-29,74,68,61,61,58,56,93,75,57,...,10,10,23,11,28.0,0,4,NaN,286,94107
1,2013-08-30,78,69,60,61,58,56,90,70,50,...,10,7,29,13,35.0,0,2,NaN,291,94107
2,2013-08-31,71,64,57,57,56,54,93,75,57,...,10,10,26,15,31.0,0,4,NaN,284,94107
3,2013-09-01,74,66,58,60,56,53,87,68,49,...,10,10,25,13,29.0,0,4,NaN,284,94107
4,2013-09-02,75,69,62,61,60,58,93,77,61,...,10,6,23,12,30.0,0,6,NaN,277,94107

In [22]:
ggplot(wd_dt, aes(x = 'Date', colors = 'variable')) +\
geom_density +\
scale_x_date(labels = date_format("%d-%m-%y"))

Exception: Invalid column: 'variable'
did you mean one of the following:

In [ ]:
type(wd_dt["Date"])

In [25]:
df = pd.DataFrame({
    "x": np.random.normal(0, 10, 1000),
    "y": np.random.normal(0, 10, 1000),
    "z": np.random.normal(0, 10, 1000)
})
df2 = pd.melt(df)
df.columns

#ggplot(aes(x='value', color='variable'), data=df) + geom_point() + \
 #   geom_density()

Index(['x', 'y', 'z'], dtype='object')

In [26]:
df2.columns

Index(['variable', 'value'], dtype='object')

In [27]:
wd_dt2 = pd.melt(wd_dt)
wd_dt2.columns

Index(['variable', 'value'], dtype='object')

In [31]:
ggplot(aes(x='value', color='variable'), data=wd_dt2) + \
   geom_density()

AttributeError: 'float' object has no attribute 'shape'